@font-face {
    font-family: 'HappyBirthday_Demo';
    src: url('HappyBirthday_Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Default styles (for larger screens) */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 700px;
    max-width: 90%;
    height: auto;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, black, blue);
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Sevillana", cursive;
    color: white;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: "New Amsterdam", sans-serif;
}

.time {
    text-align: center;
    background: #ffd700; /* Gold background */
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.time div {
    font-size: 48px;
}

.label {
    font-size: 25px;
    margin-top: 5px;
    font-weight: bold;
}

/* Mobile styles (for smaller screens) */
@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto; /* Adjust height to be automatic */
        padding: 15px;
    }

    h1 {
        font-size: 36px;
    }

    #countdown {
        flex-direction: column;
        gap: 10px;
    }

    .time {
        padding: 15px;
    }

    .time div {
        font-size: 36px;
    }

    .label {
        font-size: 20px;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    .time {
        padding: 10px;
    }

    .time div {
        font-size: 28px;
    }

    .label {
        font-size: 18px;
    }
}
